* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 1s;
  position: relative;
}

video {
  width: 50%;
  max-width: 95em;
  border-radius: 1em;
  z-index: 2;
}

body > div {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.stormy {
  background-image: url(../media/lightning.gif);
  background-position: center;
  background-size: 50%;
  opacity: 0.5;
}
.rain {
  background-image: url(../media/rain.gif);
  background-position: center;
  background-size: 30%;
  opacity: 0.5;
}

.sunshine {
  background-image: url(../media/sunshine.gif);
  background-position: cover;
  background-size: 100%;
  opacity: 0.5;
  background-repeat: no-repeat;
}
